.container {
	background: #263544;
	color: #b7c0cd;
	width: 250px;
}

.icon {
	margin-right: 8px;
	display: flex;
	align-items: center;
}

.items {
	padding-top: 65px;
}

.item {
	transition: all linear 0.1s;

	&:hover {
		color: #fff;
	}
}

.item.active {
	color: #fff;
	background: #1d2531;
}

.item.active + .child {
	background: #222d3b;
}

.item_border {
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	background: #42a5f5;
}

.child_container {
	&:hover {
		color: #42a5f5;
	}
}

.child_container.active {
	color: #42a5f5;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
	background: #263544;
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.2);
}
