.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-italic {
	font-style: italic;
}

.text-normal {
	font-weight: 400 !important;
}

.text-medium {
	font-weight: 500 !important;
}

.text-bold {
	font-weight: 700 !important;
}

.text-nowrap {
	width: 99%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-12 {
	font-size: 1.2rem;
}

.text-13 {
	font-size: 1.3rem;
}

.text-14 {
	font-size: 1.4rem;
}

.text-15 {
	font-size: 1.5rem;
}

.text-16 {
	font-size: 1.6rem;
}

.text-17 {
	font-size: 1.7rem;
}

.text-18 {
	font-size: 1.8rem;
}

.text-19 {
	font-size: 1.9rem;
}

.text-20 {
	font-size: 2rem;
}

.text-white {
	color: #fff;
}

.text-black {
	color: #292929;
}

.text-red {
	color: #ff4400;
}
