.container {
	border-radius: 50%;
	cursor: pointer;

	&:hover {
		background: rgba($color: #272626, $alpha: 0.1);
	}
}

.container + .container {
	margin-left: 8px;
}

.container svg {
	width: inherit;
	height: inherit;
}

.container .badge {
	position: absolute;
	background: #ff5370;
	border-radius: 50%;
	color: #fff;
	top: 0;
	right: 0;
}
